<domain type='kvm'>
  <name>{{vm_name}}</name>
  <memory unit='MB'>4096</memory>
  <vcpu>4</vcpu>
  <os>
    <type>hvm</type>
    {% if installed is undefined %}
    <kernel>/mnt/vm/iso/vmlinuz</kernel>
    <initrd>/mnt/vm/iso/initrd.gz</initrd>
    <cmdline>console=ttyS0 auto=true priority=critical url="http://192.168.101.1:2015/preseed-{{vm_name}}.txt" interface=auto netcfg/dhcp_timeout=60</cmdline>
    {% else %}
    <boot dev='hd'/>
    {% endif %}
  </os>
  <devices>
    <disk type='volume' device='disk'>
      <source pool='vms' volume='{{vm_name}}.qcow2'/>
      <target dev='hda'/>
    </disk>
    {% if installed is undefined %}
    <disk type='volume' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <source pool='iso' volume='debian-8.6.0-amd64-netinst.iso'/>
      <target dev='hdb' bus='ide'/>
      <readonly/>
    </disk>
    <interface type='network'>
      <source network='nat'/>
      <mac address='02:33:33:33:33:33'/>
    </interface>
    <serial type='file'>
      <source path="/tmp/{{vm_name}}-serial0.log"/>
      <target port='0'/>
    </serial>
    {% else %}
    <interface type='direct' trustGuestRxFilters='yes'>
      <source dev='{{phy_interface}}' mode='bridge'/>
    </interface>
    <serial type='pty'>
      <target port='0'/>
    </serial>
    {% endif %}
    <console type='pty'>
      <target type='serial' port='0'/>
    </console>
  </devices>
</domain>
